:root {
	--color-yellow: hsl(47, 88%, 63%);
	--color-white: hsl(0, 0%, 100%);
	--color-gray-500: hsl(0, 0%, 42%);
	--color-gray-950: hsl(0, 0%, 7%);
	--color-gray-950-rgba: rgba(18, 18, 18, 1);

	font-size: clamp(50%, 0.5vw + 50%, 62.5%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Figtree";
	src: url(assets/fonts/static/Figtree-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Figtree";
	src: url(assets/fonts/static/Figtree-ExtraBold.ttf) format("truetype");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 2.5rem;
	min-height: 100dvh;
	font-family: "Figtree", sans-serif;
	font-weight: 500;
	background-color: var(--color-yellow);
	line-height: 1.5;
	color: var(--color-gray-950);
}

main {
	width: 100%;
	max-width: 330px;
	padding: 2rem;
	background-color: var(--color-white);
	border: 1px solid var(--color-gray-950);
	border-radius: 2rem;
	box-shadow: 0.8rem 0.8rem 0 var(--color-gray-950-rgba);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.card-image img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 1rem;
}

.card-content {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.card-tag {
	background-color: var(--color-yellow);
	color: var(--color-gray-950);
	padding: 0.25rem 0.75rem;
	border-radius: 0.4rem;
	font-size: 1.2rem;
	align-self: flex-start;
	font-weight: 800;
}

.card-date {
	font-size: 1.4rem;
}

.card-title {
	font-size: 2rem;
	font-weight: 800;
}

.card-title:hover {
	color: var(--color-yellow);
	cursor: pointer;
}

.card-description {
	font-size: 1.4rem;
	color: var(--color-gray-500);
	margin-bottom: 1rem;
}

.card-author {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.author-avatar {
	width: 32px;
	height: 32px;
}

.author-name {
	font-size: 1.4rem;
	font-weight: 800;
}

.attribution {
	font-size: 1rem;
	color: var(--color-gray-950);
	text-align: center;
	max-width: 400px;
}

.attribution a {
	color: var(--color-gray-950);
	font-weight: 800;
}

.attribution a:hover {
	text-decoration: underline;
}

.attribution a:focus {
	outline: 2px solid var(--color-gray-950);
	outline-offset: 2px;
}
