:root {
	--color-yellow: hsl(47, 88%, 63%);
	--color-white: hsl(0, 0%, 100%);
	--color-gray-500: hsl(0, 0%, 42%);
	--color-gray-950: hsl(0, 0%, 7%);

	font-size: clamp(50%, 0.5vw + 50%, 62.5%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Figtree";
	src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	min-height: 100dvh;
	font-family: "Figtree", sans-serif;
	background-color: var(--color-yellow);
}
